/* 공통 디자인 */
.bgs{
    width: 100vw;
    min-height: 100vh;
}
.container{
    width: 1920px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.img-box {
    width: 480px;
    height: 480px;
}
.img-box img {
    width: 100%;
    display: block;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}

.explain-box {
    width: 430px;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ep-title{
    margin-top: 25px;
}
.ep-summary {
    font-weight: bold;
    margin-top: 25px;
    font-size: 0.9rem;
}
.ep-desc {
    margin-top: 50px;
    line-height: 1.6;
}
.ep-link {
    margin-top: 50px;    
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: background-color ease 0.2s;
    border-radius: 5px;
}
/* 커스텀 디자인 */
#pf1 {
    background-color: hsl(0, 100%, 90%)
}
#pf2 {
    background-color: hsl(59, 100%, 90%)
}
#pf3 {
    background-color: hsl(90, 100%, 90%)
}

/* pf1 */
#pf1 .explain-box {
    background-color: hsl(0, 100%, 96%)
}
#pf1 .ep-link {
    background-color: hsl(0, 100%, 75%);
}
#pf1 .ep-link:hover {
    background-color: hsl(0, 100%, 70%);
}
#pf1 .ep-summary{
    color: hsl(0, 70%, 50%);
}
/* pf2 */
#pf2 .explain-box {
    background-color: hsl(59, 100%, 96%)
}
#pf2 .ep-link {
    background-color: hsl(59, 100%, 75%);
}
#pf2 .ep-link:hover {
    background-color: hsl(59, 100%, 70%);
}
#pf2 .ep-summary{
    color: hsl(59, 70%, 50%);
}
/* pf3 */
#pf3 .explain-box {
    background-color: hsl(90, 100%, 96%)
}
#pf3 .ep-link {
    background-color: hsl(90, 100%, 75%);
}
#pf3 .ep-link:hover {
    background-color: hsl(90, 100%, 70%);
}
#pf3 .ep-summary{
    color: hsl(90, 70%, 50%);
}
@media (max-width : 1920px){
    .container{
        width: 1280px;
    }
}
@media (max-width : 1280px){
    .container{
        width: 960px;
    }
    .img-box {
        width: 400px;
        height: 400px;
    }
    .explain-box{
        padding: 15px;
        width: 370px;
    }
    .explain-box .ep-desc{
        font-size: 0.9rem;
    }
}
@media (max-width : 960px){
    .container{
        width: 720px;
    }
    .img-box {
        width: 330px;
        height: 330px;
    }
    .explain-box {
        width: 300px;
    }
}
@media (max-width : 720px){
    .container{
        width: 480px;
    }
    .container{
        flex-direction: column;
    }
    .img-box{
        width: 480px;
        height: 480px;
    }
    .explain-box{
        padding: 15px;
        width: 450px;
    }
    #pf2 .container {
        flex-direction: column-reverse;
    }
}
@media (max-width : 480px){
    .container{
        width: 360px;
    }
    .img-box{
        width: 360px;
        height: 360px;
    }
    .explain-box{
        padding: 30px;
        width: 300px;
    }
}
